.error-page {
  display: flex;
  justify-content: center;
}
.error {
  background-color: var(--color-orange);
  font-size: var(--main-font-size-title);
  font-family: Lack, 'sans-serif';
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 32px;
  color: white;
  @media screen and (max-width: 400px) {
    font-size: 25px;
    width: 200px;
    height: 200px;
  }
}